@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900');

.App {
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ant-layout-header {
  background: white;
}
.ant-layout {
  background: white;
}

.ant-card{
  border-width: 0px 0px 0px 25px;
}

.ant-card-head-title{
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p, span, a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
}

h1 {
  color: #fff;
}